header {
    width: 100%;
    height: 7vh;
    background-color: var(--cor-header);
}
.cabecalho {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}
.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.list-itens a {
    text-decoration: none;
    color: var(--branco);
    padding: 1.5rem;
    /* efeito de transição */
    transform: 2ms ease-in;
    position: relative;
}

/* efeito de transição */
.list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: var(--amarelo);
    transition: all 1.5s ease;
}

.list-itens a:hover:before {
    width: 100%;
}